.form-container{
    margin: 20px 20px;
    display: flex;
    flex-direction: row;
}

.input-cont{
    height: 20px;
    margin: 0 10px;
    padding: 0 5px;
}

.input-cont:focus{
    outline: none;
}

.formBtn{
    border: none;
    height: 25px;
    background-color: #185394;
    width: 60px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.formBtn:hover{
    background-color: blue;
}